%main.contents
  .right-content
    %section.right-content__top
      = link_to '#' do
        %figure
          %img(src="https://images.unsplash.com/photo-1562984933-9bdcd3c1893c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="ユーザー画像" class="user-icon")/
          %h4
            bobby
        .mypage-number
          評価
          %span.bold 1
          出品数
          %span.bold 2

    %section.right-content__middle
      .mypage-tabs
        %input{ name: "tab_item", type: "radio", checked: "checked", id: "nontification"}
        %label.tab_item{for: "nontification"}
          お知らせ
        %input{ name: "tab_item", type: "radio", id: "todo" }
        %label.tab_item{for: "todo"}
          やることリスト
      
        .tab_content{ id: "nontification_content"}
          %ul
            %li
              = link_to '#', class: "mypage-item-link" do
                %figure
                  %img(src="https://moto-neta.com/wp/wp-content/uploads/fe7fb211fa503a251ef25c3323a9b4bf.jpg" alt="mercari_logo" class="mypage-item-link__img")/
                .mypage-item-link__body
                  事務局から個別メッセージ
                  %time.mypage-item-link__icon
                    %i.fal.fa-clock.mypage-list__icon--clock
                    %span 3時間前
                %i.fas.fa-chevron-right.mypage-list__icon--arrow
            %li
              = link_to '#', class: "mypage-item-link" do
                %figure
                  %img(src="https://moto-neta.com/wp/wp-content/uploads/fe7fb211fa503a251ef25c3323a9b4bf.jpg" alt="mercari_logo" class="mypage-item-link__img")/
                .mypage-item-link__body
                  事務局から個別メッセージ
                  %time
                    %i.fal.fa-clock.mypage-list__icon--clock
                    %span 3時間前
                %i.fas.fa-chevron-right.mypage-list__icon--arrow
            %li
              = link_to '#', class: "mypage-item-link" do
                %figure
                  %img(src="https://moto-neta.com/wp/wp-content/uploads/fe7fb211fa503a251ef25c3323a9b4bf.jpg" alt="mercari_logo" class="mypage-item-link__img")/
                .mypage-item-link__body
                  事務局から個別メッセージ
                  %time
                    %i.fal.fa-clock.mypage-list__icon--clock
                    %span 3時間前
                %i.fas.fa-chevron-right.mypage-list__icon--arrow
            %li
              = link_to '#', class: "mypage-item-link" do
                %figure
                  %img(src="https://moto-neta.com/wp/wp-content/uploads/fe7fb211fa503a251ef25c3323a9b4bf.jpg" alt="mercari_logo" class="mypage-item-link__img")/
                .mypage-item-link__body
                  事務局から個別メッセージ
                  %time
                    %i.fal.fa-clock.mypage-list__icon--clock
                    %span 3時間前
                %i.fas.fa-chevron-right.mypage-list__icon--arrow
            %li
              = link_to '#', class: "mypage-item-link" do
                %figure
                  %img(src="https://moto-neta.com/wp/wp-content/uploads/fe7fb211fa503a251ef25c3323a9b4bf.jpg" alt="mercari_logo" class="mypage-item-link__img")/
                .mypage-item-link__body
                  事務局から個別メッセージ
                  %time
                    %i.fal.fa-clock.mypage-list__icon--clock
                    %span 3時間前
                %i.fas.fa-chevron-right.mypage-list__icon--arrow
            %li.mypage-go-list
              = link_to '#', class: "mypage-item-link" do
                一覧を見る
        .tab_content{ id: "todo_content" }
          %ul
            %li
              aiueo

          
          
    %section.right-content__bottom
      %h4 購入した商品
      .mypage-tabs
        %input{ name: "tab_buy", type: "radio", checked: "checked", id: "torihiki"}
        %label.tab_item{for: "torihiki"}
          取引中
        %input{ name: "tab_buy", type: "radio", id: "kako" }
        %label.tab_item{for: "kako"}
          過去の取引

        .tab_content{ id: "torihiki_content" }
          %ul
            %li
              aiueo
            %li.mypage-go-list
              = link_to '#' do
                一覧を見る

        .tab_content{ id: "kako_content" }
          %ul
            %li
              = link_to '#' do
                %figure
                  %img(src="#" alt="")/
                .mypage-item-body
                  .mypage-item-text
                    「(商品名)」を購入しました。
                    %span
                      取引が完了しました
                    .mypage-item-status
                      取引完了
                %i.fas.fa-chevron-right.mypage-list__icon--arrow
            %li.mypage-go-list
              = link_to '#', class: "mypage-item-link" do
                一覧を見る