.side-content
  %nav.mypage-nav
    %ul.mypage-nav__list
      %li
        = link_to "/users/#{:id}", class: "mypage-nav__list__btn" do
          マイページ
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          お知らせ
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          やることリスト
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          いいね！一覧
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          出品する
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          出品した商品 - 出品中
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          出品した商品 - 取引中
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          出品した商品 - 売却済み
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          購入した商品 - 取引中
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          購入した商品 - 過去の取引
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          ニュース一覧
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          評価一覧
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          ガイド
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__list__btn" do
          お問い合わせ
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
  
    %h4.mypage-nav__head メルペイ
    %ul
      %li
        = link_to '#', class: "mypage-nav__head__btn" do
          売上・振込申請
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__head__btn" do
          ポイント
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')

    %h4.mypage-nav__head 設定
    %ul
      %li
        = link_to '#', class: "mypage-nav__head__btn" do
          プロフィール
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__head__btn" do
          発送元・お届け先住所変更
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to payment_users_path, class: "mypage-nav__head__btn" do
          支払い方法
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__head__btn" do
          メール/パスワード
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__head__btn" do
          本人情報
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to '#', class: "mypage-nav__head__btn" do
          電話番号の確認
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
      %li
        = link_to signout_users_path, class: 'mypage-nav__head__btn' do
          ログアウト
          = icon('fas', 'chevron-right', class: 'mypage-nav__list__btn--icon')
