.mypage-header
  = render "shared/search"

%nav.kind__list
  %ul
    %li
      = link_to root_path do
        FURIMA
    %li
      %i.fa.fa-angle-right
    %li
      = link_to user_path(current_user.id) do
        マイページ
    %li
      %i.fa.fa-angle-right
    %li
      支払い方法

.mypage-main
  .mypage-contents
    = render partial: 'side_content'

    .payment_content
      .payment_content__head
        %h2 支払い方法
      .payment_content__body
        .payment_content__body__head
          %h3 クレジットカード一覧
          .payment_content__body__head__list

        .payment_content__body__cardAdd
          = link_to card_index_path, class: "payment_content__body__cardAdd__btn" do
            = icon("far", "credit-card", class: 'payment_content__body__cardAdd__btn--icon')
            クレジットカードを追加する
        .payment_content__body__paymentGuide
          = link_to '#', class: "payment_content__body__paymentGuide__btn" do
            支払いについて
            = icon('fas', 'chevron-right', class: 'payment_content__body__paymentGuide__btn--icon')
  = render "shared/banner"
  = render "shared/overview"
  = render "shared/iconCamera"
