.header
  .header__logo
    = image_tag asset_path('logo.png'), size: "140x40", alt: "test"

.mypage-main
  .mypage-contents
    = render "side_content"
    = render "right_content"
.fotter
  = render "shared/banner"
  = render "shared/overview"
