.mypage-header
  = render "shared/search"

%nav.kind__list
  %ul
    %li
      = link_to root_path do
        FURIMA
    %li
      %i.fa.fa-angle-right
    %li
      = link_to user_path(current_user.id) do
        マイページ
    %li
      %i.fa.fa-angle-right
    %li
      ログアウト

.mypage-main
  .mypage-contents
    = render partial: 'side_content'

    .signout_content
      = link_to destroy_user_session_path, method: :delete, class: "signout_content__btn" do
        ログアウト

.mypage-fotter
  = render "shared/banner"
  = render "shared/overview" 