= form_for @item do |i|
  .form__box
    .image__remove-field
      #previews
        .preview
          - if @item.persisted?
            - @item.images.each_with_index do |image, i|
              = image_tag image.src.url, data: { index: i }, width: "124", height: '124'
        = i.fields_for :images do |image|
          .form__box--image{"data-index" => "#{image.index}"}
            = image.file_field :src, class: 'item__image'
          - if @item.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        - if @item.persisted?
          .item__image--group{"data-index" => "#{@item.images.count}"}
            = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
            .item__image-remove 削除