%body
  %nav.kind__list
    %ul
      -# 以下カテゴリ機能実装後each?
      %li
        = link_to '/' do
          FURIMA
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          メンズ
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          文房具
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          黒
      %li
        %i.fa.fa-angle-right
      %li
        %p 鉛筆
  .item__main
    .item__main--box
      .item__main--box-left
      .item__main--box-right
        .item__box
          .item__box--top
            %h2.item__box--top-name
            .item__box--top-body
              %ul
                %li
                  - @items.images.each do |item|
                    - if item.id == 1
                      = image_tag item.image
                      %ul
                        - @items.images.each do |item|
                          %li
                            - if item.id == 2
                              = image_tag item.image
                            - else
                              = image_tag item.image
            .item__price
              %span ¥20000
              .item__tax
                %span (税込)
                -#送料のところは商品登録ができてから
                %span 送料込み
            .item__detail
              とても書きやすい鉛筆です。
              %br
              3年前に買いました。
              %br
              購入してください。