.wrapper
  = render "shared/search"
  %nav.kind__list
    %ul
      %li
        = link_to '/' do
          FURIMA
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          =@items.category.parent.parent.name
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          =@items.category.parent.name
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          =@items.category.name
      %li
        %i.fa.fa-angle-right
      %li
        %p
          = @items.name
  .item__main
    .item__main--box
      .item__main--box-left
      .item__main--box-right
        .item__box
          .item__box--top
            %h2.item__box--top-name
              = @items.name
            .item__box--top-body
              %ul
                %li
                  = image_tag @images[0].image
                  %ul
                    - @images.each do |i|
                      %li
                        = image_tag i.image
            - if @items.status == 1
              .sold__area
                %div
                  SOLD
            .item__price
              %span
                ¥
                = @items.price
              .item__tax
                %span (税込)
                %span 送料込み
            .item__detail
              = simple_format(@items.description)
            - if user_signed_in? && @items.user.id != current_user.id and @items.status == 0
              .buy__area
                %button.buy__area--btn
                  = link_to "購入する" ,confirm_items_path ,method: :get
            - if user_signed_in? && @items.user.id == current_user.id
              .edit__area
                %button.edit__area--btn
                  = link_to "編集する" ,purchase_index_path(params[:id]),method: :get
              .or__area or
              .delete__area
                %button.delete__area--btn
                  = link_to "削除する", "/items/#{@items.id}", method: :delete
            - if user_signed_in? && @items.status == 1
              .notbuy__area
                .notbuy__area--btn
                  %p 売り切れました
            - unless user_signed_in?
              .guide__area
                %button.guide__area--btn
                  = link_to "ログインする", new_user_session_path, method: :get
            .info__table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td
                      = @items.user.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = link_to '#' do
                        =@items.category.parent.parent.name
                        %br
                      = link_to '#' do
                        =@items.category.parent.name
                        %br
                      = link_to '#' do
                        =@items.category.name
                  %tr
                    %th ブランド
                    %td
                      = @items.brand
                  %tr
                    %th 商品サイズ
                    %td
                      = @items.size
                  %tr
                    %th 商品の状態
                    %td 
                      - if @items.state == 1
                        新品、未使用に近い
                      - elsif @items.state == 2
                        未使用に近い
                      - elsif @items.state == 3
                        目立った傷や汚れなし
                      - elsif @items.state == 4
                        やや傷や汚れあり
                      - elsif @items.state == 5
                        傷や汚れあり
                      - elsif @items.state == 6
                        全体的に状態が悪い
                  %tr
                    %th 配送料の負担
                    %td 
                      - if @items.postage == 1
                        送料込み(出品者負担)
                      - elsif @items.postage == 2
                        着払い(購入者負担)
                  %tr
                    %th 発送元の地域
                    %td 
                      = link_to '#' do
                        = @items.prefecture
                  %tr
                    %th 発送日の目安
                    %td
                      - if @items.shipping_date == 1
                        1~2日で発送
                      - elsif @items.shipping_date == 2
                        2~3日で発送
                      - elsif @items.shipping_date == 3
                        4~7日で発送
            .option__box
              %ul
                %li.option__left-btn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.option__right
                %li.option__right-btn
                  = link_to '#' do
                    %i.fa.fa-flag
                    不適切な商品の通報
          .comment__box
            %ul.comment__box--content
            %form{class: 'new__comment', action: '#',method:'post'}
              %textarea.new__comment--body
              %p.note__message
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
              %button.comment__btn
                %i.fa.fa-comment
                  コメントする
        %ul.item__link
          %li
            %i.fa.fa-angle-left
            = link_to "前の商品" , item_path(@items.id - 1), method: :get
          %li
            = link_to "後ろの商品", item_path(@items.id + 1), method: :get
            %i.fa.fa-angle-right
        .further__items
          = link_to "#" do
            = @items.category.parent.parent.name
            をもっと見る
          .item__lists
.fotter
  = render "shared/banner"
  = render "shared/overview"