- @items.each do |item|
  %nav.kind__list
    %ul
      -# 以下カテゴリ機能実装後each?
      %li
        = link_to '/' do
          FURIMA
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          メンズ
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          文房具
      %li
        %i.fa.fa-angle-right
      %li
        = link_to '#' do
          黒
      %li
        %i.fa.fa-angle-right
      %li
        %p
          = item.name
  .item__main
    .item__main--box
      .item__main--box-left
      .item__main--box-right
        .item__box
          .item__box--top
            %h2.item__box--top-name
              = item.name
            .item__box--top-body
              %ul
                %li
                  = image_tag @images[0].image
                  %ul
                    - @images.each do |i|
                      %li
                        = image_tag i.image
            .item__price
              %span
                ¥
                = item.price
              .item__tax
                %span (税込)
                -#送料のところは商品登録ができてから
                %span 送料込み
            .item__detail
              = simple_format(item.description)
            .info__table
              -# あとでDBから引っ張る記述します。
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td
                      = item.user.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = link_to '#' do
                        メンズ
                        %br
                      = link_to '#' do
                        ジャケット/アウター
                        %br
                      = link_to '#' do
                        ノーカラージャケット
                  %tr
                    %th ブランド
                    %td
                      = item.brand
                  %tr
                    %th 商品サイズ
                    %td
                  %tr
                    %th 商品の状態
                    %td 新品/未使用
                  %tr
                    %th 配送料の負担
                    %td 着払い（購入者負担）
                  %tr
                    %th 発送元の地域
                    %td 
                      = link_to '#' do
                        = item.prefecture
                  %tr
                    %th 発送日の目安
                    %td 1-2日で発送
            .option__box
              %ul
                %li.option__left-btn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.option__right
                %li.option__right-btn
                  = link_to '#' do
                    %i.fa.fa-flag
                    不適切な商品の通報
          .comment__box
            %ul.comment__box--content
            = form_with model: @item, local: true ,class: 'new__comment' do |f|
              = f.text_area :text, row: "10", id: "text", class: 'new__comment--body'
              %p.note__message
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
                = f.submit 'コメントする' , class: 'comment__btn'
                = f.i class: 'fa fa-comment'
        %ul.item__link
          %li
            = link_to '#' do
              %i.fa.fa-angle-left
                %span
                  前の商品
          %li
            = link_to '#' do
              %span 後ろの商品
              %i.fa.fa-angle-right
        .further__items
          = link_to "#" do
            メンズをもっと見る
          .item__lists